
*.user
build-SystemMonitoring-Desktop_Qt_5_9_2_MinGW_32bit-Debug/
build-SystemMonitoring-Desktop_Qt_5_9_2_GCC_64bit-Debug/
SystemMonitoring/SystemMonitoring.pro.user.07ae8d0
SystemMonitoring/SystemMonitoring.pro.user.f0ffce0
